
@font-face {
  font-family: 'FuturaMedium';
  src: url('https://pro-serv-tp.s3.amazonaws.com/Fonts_assets/FuturaMedium/FuturaMedium.eot?#iefix') format('embedded-opentype'),  url('https://pro-serv-tp.s3.amazonaws.com/Fonts_assets/FuturaMedium/FuturaMedium.woff') format('woff'), url('https://pro-serv-tp.s3.amazonaws.com/Fonts_assets/FuturaMedium/FuturaMedium.ttf')  format('truetype'), url('https://pro-serv-tp.s3.amazonaws.com/Fonts_assets/FuturaMedium/FuturaMedium.svg#FuturaMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
